---
const { dios } = Astro.props;
---

<a href={`/dios/${dios.mitologia}/${dios.slug}`} class="flex justify-center items-center ">
  <div class="flex flex-col lg:w-1/2 overflow-hidden h-full mb-6 ">
                <div
                  class="rounded-lg mb-2 overflow-hidden">
                <picture>
                    <img src={dios.imagen} alt={dios.nombre} class="w-full h-auto rounded-xl transition-transform duration-300 ease-out hover:scale-105" />
                </picture>
                </div>


                <div class="line-clamp-5" >
                  <p class="text-[#252525] text-base font-medium leading-normal hover:underline">{dios.nombre}</p>
                  <p class="text-[#757575] text-sm font-normal leading-normal text-justify">{dios.descripcion}</p>
                </div>

              </div>
</a>